.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 6rem 1rem;
}

.product_items {
  display: grid;
  gap: 4rem;
}

.product_item {
  background-color: #f4f6f5; 
  position: relative;
  height: 350px;
  margin-bottom: 6rem;
  padding: 2rem;
  color: #3c3c3e;
}

.product_item h4 {
  margin-bottom: 1rem;
  font-size: 1.3rem;
}

.product_item .price span {
  margin-right: 2rem;
  display: inline-block;
}

.product_item .price span.small {
  font-size: 1rem;
  color: #acacac;
}

.cart {
  background: #d6c4b8;
  padding: 1.5rem;
  border-radius: 100%;
  position: absolute;
  right: 30px;
  top: -30px;
}

.product {
  position: absolute;
  margin-bottom: 4rem;
  left: 50%;
  right: 50%;
  bottom: -80%;
  transform: translate(-50%, -50%);
}

@media screen and (min-width: 820px){
  .product_items {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (min-width: 1200px){
  .product_items {
    grid-template-columns: repeat(3, 1fr);
  }
}



