.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 1rem;
}

.section {
  text-align: center;
  padding: 2rem 0;
  margin: 6rem 0;
  background-color: #f4f6f5;
}

.section h4 {
  text-transform: uppercase;
  margin-bottom: 2rem;
  color: #3f3f41
}

.section_brands {
  display: grid;
  gap: 2rem;
}

@media screen and (min-width: 720px){
  .section_brands {
    grid-template-columns: repeat(5, 1fr);
    place-content: center;
  }
}