.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 1rem;
}

/* .header {
  display: flex;
  flex-direction: row;
} */

.header_img {
  height: 100vh;
  background-image: url(../../images/mask.png);
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}

.header_content {
  width: 100%;
  background: rgba(225, 220, 214, 0.7);
  position: absolute;
  top: 10%;
}

.header_content h1 {
  color: #8c593a;
  padding: 1rem;
}

.header_content p {
  color: #5e5e63;
  font-weight: 500;
  padding: 1rem;
}

.header_arrow {
  background-color: rgba(201, 190, 179, 0.8);
  height: 100px;
  width: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  right: 0;
  bottom: 0;
}

@media screen and (min-width: 720px){
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .header_pattern {
    width: 500px;
  }

  .header_img {
    width: 100vw;
    height: 100vh;
    background-position: center center;
    background-size: 100% 100%;
    
  }
  .header_content {
    max-width: 45%;
    left: -25%;
    top: 15%;
  }

  .header_content h1 {
    padding: 4rem 2rem 1rem 2rem;
  }

  .header_content p {
    padding: 0 2rem 4rem 2rem;
  }

  .header_arrow {
    right: -15px;
    bottom: -15px;
  }

}