.header {

}

.header_img {
  background-image: url(../../images/mask.png);
  background-size: cover;
  background-repeat: no-repeat;
}

.header_content {
  width: 40%;
  padding: 1rem;
  background-color: rgba(201, 190, 179, 0.7);
}

.header_content h1 {
  color: #8c593a;
}

.header_content p {
  color: #5e5e63;
  font-weight: 500;
}